<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Pan Złota Rączka - Admin Console</title>
    <!-- Bootstrap core CSS-->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="css/sb-admin.css" rel="stylesheet">
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
<!-- Navigation-->
<div th:replace="fragments/navigation :: navigation-panel-left">Static navigation!!!</div>

<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="index.html">Strona Główna</a>
            </li>
            <li class="breadcrumb-item active">Zlecenia</li>
        </ol>
        <div class="row">
            <div class="col-12">
                <a class="btn btn-primary btn-block" data-toggle="modal" data-target="#dodajZlecenieModal">Dodaj Zlecenie</a>
            </div>
        </div>
        <div class="row">
            <!-- tabela zadan -->
            <!-- w tabeli edycja (historia) -->
            <!-- w tabeli usuwanie (tylko oznaczenie jako do usuniecia) -->

        </div>
    </div>

    <div th:replace="fragments/common :: footer">static logout modal</div>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>

    <div th:replace="fragments/common :: logout">static logout modal</div>
    <!--<div th:replace="fragments/common :: dodajZlecenie">static dodaj zlecenie modal</div>-->


    <div class="modal fade" id="dodajZlecenieModal" tabindex="-1" role="dialog" aria-labelledby="DodajZlecenieModalLabel" aria-hidden="true" th:fragment="dodajZlecenie">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="dodajZlecenieModalLabel">Dodaj Zlecenie</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">

                    <form name="sentMessage" method="post" id="dodajZLecenieFormId" novalidate="novalidate" action="/dodajZlecenie" th:object="${pusteZlecenie}">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="specialistDropdownId">Specjalista:</label>
                                <select class="form-control" id="specialistDropdownId" name="specialistDropdownName" autofocus th:field="*{specjalista}"
                                        data-validation="required" data-validation-error-msg="Proszę powiedz nam jakiego specjalisty szukasz.">
                                    <option th:each="specialist : ${availableSpecializations}"
                                            th:value="${specialist.id}"
                                            th:text="${specialist.name}"></option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="terminDateTimeId">Termin</label>
                                <input class="form-control" id="terminDateTimeId" type="datetime-local"
                                       placeholder="W jakim terminie" th:field="*{date}" data-validation="required"
                                       data-validation-error-msg="W jaki terminie ma być wykonana usługa.">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="miastoDropdownId">Miasto:</label>
                                <select class="form-control" id="miastoDropdownId" name="miastoDropdownName"
                                        th:field="*{address.city}" data-validation="required"
                                        data-validation-error-msg="Proszę powiedz nam W jakim mieśćie ma być świadczona usługa.">
                                    <option th:each="city : ${availableCities}"
                                            th:value="${city.id}"
                                            th:text="${city.name}"></option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="opisTextAreaId">Opis</label>
                                <textarea class="form-control" id="opisTextAreaId" rows="3" name="opisTextAreaName" th:field="*{description}"
                                          placeholder="Chcę aby....Opisz jaką pracę chcesz zlecić." required="required" data-validation="required"
                                          data-validation-error-msg="Proszę, opisz w kilku słowach co jest do zrobienia."></textarea>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="districtDropdownId">Dzielnica:</label>
                                <select class="form-control" id="districtDropdownId" name="districtDropdownName" th:field="*{address.district}"
                                        data-validation="required" data-validation-error-msg="Proszę powiedz nam w jakiej dzielnicy ma być świadczona usługa.">
                                    <option th:each="district : ${availableDistricts}"
                                            th:value="${district.id}"
                                            th:text="${district.name}"></option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="nrTelefonuTextId">Numer Telefonu</label>
                                <input class="form-control" id="nrTelefonuTextId" type="tel" placeholder="Numer telefonu"
                                       th:field="*{phoneNumber}" data-validation="required"
                                       data-validation-error-msg="Proszę podaj numer na który mamy oddzwonić (gdy znajdziemy kogoś odpowwiedniego)">
                            </div>
                        </div>
                        <br>
                        <div id="success"></div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-xl" id="sendMessageButton">Wyślij</button>
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Anuluj</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>

    <script>

        $("#miastoDropdownId").change(function () {
            var selectedCity = $("#miastoDropdownId :selected").text();

            //remove all districts
            $("#districtDropdownId").empty();

            //populate new districts
            $.getJSON("/districts/" + selectedCity, function (json) {
                $.each(json, function (idx, field) {
                    $("#districtDropdownId").append($("<option></option>")
                        .attr("value", idx)
                        .text(field.name));
                });
            });

        });

        var myLanguage = {
            errorTitle: 'Błąd w formularzu',
            requiredFields: 'You have not answered all required fields',
            badTime: 'You have not given a correct time',
            badEmail: 'You have not given a correct e-mail address',
            badTelephone: 'You have not given a correct phone number',
            badSecurityAnswer: 'You have not given a correct answer to the security question',
            badDate: 'You have not given a correct date',
            lengthBadStart: 'The input value must be between ',
            lengthBadEnd: ' characters',
            lengthTooLongStart: 'The input value is longer than ',
            lengthTooShortStart: 'The input value is shorter than ',
            notConfirmed: 'Input values could not be confirmed',
            badDomain: 'Incorrect domain value',
            badUrl: 'The input value is not a correct URL',
            badCustomVal: 'The input value is incorrect',
            andSpaces: ' and spaces ',
            badInt: 'The input value was not a correct number',
            badSecurityNumber: 'Your social security number was incorrect',
            badUKVatAnswer: 'Incorrect UK VAT Number',
            badStrength: 'The password isn\'t strong enough',
            badNumberOfSelectedOptionsStart: 'You have to choose at least ',
            badNumberOfSelectedOptionsEnd: ' answers',
            badAlphaNumeric: 'The input value can only contain alphanumeric characters ',
            badAlphaNumericExtra: ' and ',
            wrongFileSize: 'The file you are trying to upload is too large (max %s)',
            wrongFileType: 'Only files of type %s is allowed',
            groupCheckedRangeStart: 'Please choose between ',
            groupCheckedTooFewStart: 'Please choose at least ',
            groupCheckedTooManyStart: 'Please choose a maximum of ',
            groupCheckedEnd: ' item(s)',
            badCreditCard: 'The credit card number is not correct',
            badCVV: 'The CVV number was not correct',
            wrongFileDim: 'Incorrect image dimensions,',
            imageTooTall: 'the image can not be taller than',
            imageTooWide: 'the image can not be wider than',
            imageTooSmall: 'the image was too small',
            min: 'min',
            max: 'max',
            imageRatioNotAccepted: 'Image ratio is not accepted'
        };


        $.validate({
            validateOnBlur: false, // disable validation when input looses focus
            errorMessagePosition: 'top', // Instead of 'inline' which is default
            language: myLanguage
        });

    </script>


</div>
</body>
</html>